---
layout: default
title: Poems
---
<div class="quotation">
  "No tears in the writer, no tears in the reader. No surprise in the writer, no surprise in the reader."<br>
  ~Robert Frost
</div>
<div class="posts">
  {% for post in paginator.posts %}
    {% if post.path contains 'poems' %}
      <div class="post">
        <h1 class="post-title">
          <a href="{{ post.url }}">
            {{ post.title }}
          </a>
        </h1>

        <span class="post-date">{{ post.date | date_to_string }}</span>
      {% assign desc = post.content | split: '</p>' %}
        {{ desc[0] }}
        <br>
        <a href="{{ post.url }}">
            Read More...
        </a>

      </div>
      <hr>
  {% endif %}
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.poemsurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.poemsurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.poemsurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>