.sidebar {
 opacity: 1.0;
 }
 
 .sidebar:hover {
 opacity: 1.0;
 }
 
 .sidebar-logo {
 padding: 1.5rem;
 }
 
 .sidebar-logo img {
   border-radius: 50%;
   -moz-border-radius: 50%;
   -webkit-border-radius: 50%;
   width: 10rem;
   margin: 0 auto;
 }


.section {
  padding: 10px 0;
}

.introduction{
  text-align: center;
}

.resume-section h1 {
  font-weight: lighter;
  font-size: 1.5rem;
  text-align: left;
  color: white;
  /*background-color: #505050;*/
  background: linear-gradient(to right, #282828, #d3d3d3);
  padding-top: 20px;
  padding-bottom: 10px;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.section h1 div{
  padding-left: 5px;
}

.section h2 {
  font-size: 1.3rem;
}

.sub-header{
  font-size: 1.3rem;
  font-weight: lighter;
  color: #505050;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.arrow {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  color: #080808;
  margin-top: 2em;
}


.aspectRatioPlaceholder.is-locked{
  margin: auto;
}

.graf.graf--h3.graf-after--p {
  font-size: 2em;
}

.graf.graf--h4.graf-after--p {
  font-size: 1.5em;
}

/* Timeline section */
/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.company-name {
	margin-top: -0.1em;
	margin-bottom: 0;
}


.timeline-date {
	margin-top: -0.4em;
	margin-bottom: 0;
	color: #606060;
}

.heading {
	margin-top: 0.2em;
	margin-bottom: 0em;
	max-width: 100%;
	font-size: 1.2em;
}

.odd {
	max-height: 15em;
}

.timeline-content {
	text-align: left;
	margin-top: 0.5em;
	margin-bottom: 0em;
    word-wrap: break-word;
    color: #808080;
}

.logo {
	border-radius: 50%;
	width: 15%;
	height: 25%;
	float: left;
	margin-right: 1em;
	margin-bottom: 0;
	margin-top: 1em;
}

.timeline {
  white-space: nowrap;
  overflow-x: hidden;
}

.timeline ol {
  font-size: 0;
  width: 100vw;
  padding: 14rem 0;
  transition: all 1s;
}

.timeline ol li {
  position: relative;
  display: inline-block;
  list-style-type: none;
  width: 12rem;
  height: 3px;
  background: #fff;
}

.timeline ol li:last-child {
  width: 20rem;
}

.timeline ol li:not(:first-child) {
  margin-left: 14px;
}

.timeline ol li:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 50%;
  left: calc(100% + 1px);
  bottom: 0;
  width: 12px;
  height: 12px;
  transform: translateY(-50%);
  border-radius: 50%;
  background: #A9A9A9;
}

/*.timeline-container {
  margin-bottom: 3em;
}*/

.timeline ol li div {
  position: absolute;
  left: calc(100% + 7px);
  width: 20em;
  max-height: 12.7em;
  padding: 1em;
  font-size: 1rem;
  white-space: normal;
  color: black;
  background: white;
}

.timeline ol li div::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ol li:nth-child(odd) div {
  top: -16px;
  height: 500px;
  transform: translateY(-100%);
}

.timeline ol li:nth-child(odd) div::before {
  top: 100%;
  border-width: 8px 8px 0 0;
  border-color: white transparent transparent transparent;
}

.timeline ol li:nth-child(even) div {
  top: calc(100% + 16px);
}

.timeline ol li:nth-child(even) div::before {
  top: -8px;
  border-width: 8px 0 0 8px;
  border-color: transparent transparent transparent white;
}

.timeline time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}


/* TIMELINE ARROWS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline .arrows {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.timeline .arrows .arrow__prev {
  margin-right: 20px;
}

.timeline .disabled {
  opacity: .5;
}

.timeline .arrows img {
  width: 45px;
  height: 45px;
}


/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (max-width: 599px) {
  .timeline ol,
  .timeline ol li {
    width: auto !important; 
  }
  
  .timeline ol {
    padding: 0;
    transform: none !important;
  }
  
  .timeline ol li {
    display: block;
    height: auto;
    background: transparent;
  }
  
  .timeline ol li:first-child {
    margin-top: 25px;
  }
  
  .timeline ol li:not(:first-child) {
    margin-left: auto;
  }
  
  .timeline ol li div {
    width: 94%;
    height: auto !important;
    margin: 0 auto 25px;
  }
  
  .timeline ol li div {
    position: static;
  }
  
  .timeline ol li:nth-child(odd) div {
    transform: none;
  }
  
  .timeline ol li:nth-child(odd) div::before,
  .timeline ol li:nth-child(even) div::before {
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    border: none;
    border-left: 1px solid white;
    height: 25px;
  }
  
  .timeline ol li:last-child,
  .timeline ol li:nth-last-child(2) div::before,
  .timeline ol li:not(:last-child)::after,
  .timeline .arrows {
    display: none;
  }
}

/* Project Cards */
@import url("https://fonts.googleapis.com/css?family=Playfair+Display");
	@import url("https://fonts.googleapis.com/css?family=Playfair+Display|Source+Sans+Pro");
	body {
	background: #eee;
	padding: 40px 0px;
}
.card {
	width: 22em;
	margin: 0px auto;
	background-color: white;
	box-shadow: 0px 5px 20px #555;
    margin-top: 2em;
    margin-bottom: 2em;
}

.left {
    float: left;
}

.right {
    float: right;
}

.card:hover .card-image img {
	width: 110%;
	filter: grayscale(0);
}
.card-image {
	height: 12em;
	position: relative;
	overflow: hidden;
}
.card-image img {
	width: 100%;
	position: absolute;
	top: 55%;
	left: 50%;
	transform: translate(-50%, -50%);
	filter: grayscale(1);
	transition-property: filter width;
	transition-duration: .3s;
}
.card-body {
	text-align: center;
	padding: 0em 2em 1em;
	box-sizing: border-box;
}
.card-date {
	font-family: 'Source Sans Pro', sans-serif;
}
.card-date,
.card-title {
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px;
}
.card-date,
.card-exceprt,
{
	color: #606060;
}

.btn {
  padding: 5px 15px;
  text-decoration: none;
  background: transparent;
  border: 2px solid #f27c7c;
  color: #f27c7c;
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  font-size: 12px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: background 0.3s ease;
  -moz-transition: background 0.3s ease;
  -ms-transition: background 0.3s ease;
  transition: background 0.3s ease;
  -webkit-box-shadow: 2px 2px 0 #f27c7c;
  -moz-box-shadow: 2px 2px 0 #f27c7c;
  -ms-box-shadow: 2px 2px 0 #f27c7c;
  box-shadow: 2px 2px 0 #f27c7c;
}
.btn:hover {
  box-shadow: none;
  top: 2px;
  left: 2px;
  -webkit-box-shadow: 2px 2px 0 transparent;
  -moz-box-shadow: 2px 2px 0 transparent;
  -ms-box-shadow: 2px 2px 0 transparent;
  box-shadow: 2px 2px 0 transparent;
}

@media screen and (max-width: 1024px) {
    .left, .right {
        align-content: center;
        float: none;
}

}
/*Skill section CSS*/

/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/* Container for skill bars */
.skill-container {
    width: 100%; /* Full width */
    margin-bottom: 6px;
    background-color: #ddd;
}

.skills-text{
  padding-left: 5px;
}

.skills { 
    font-size: 17px;
    padding-right: 20px; /* Add some right padding */
    line-height: 18px; /* Set the line-height to center the text inside the skill bar, and to expand the height of the container */
    color: white; /* White text color */
}

.language-c {width: 50%; background-color: #707070;} 
.language-c-plus {width: 60%; background-color: #505050;} 
.language-python {width: 80%; background-color: #505050;} 
.language-c-sharp {width: 50%; background-color: #707070;} 
.language-swift {width: 70%; background-color: #505050;}
.language-java {width: 30%; background-color: #A0A0A0;} 
.language-javascript {width: 50%; background-color: #808080;} 
.angular {width: 20%; background-color: #A0A0A0;} 
.jQuery {width: 40%; background-color: #808080;} 
.dotnet {width: 50%; background-color: #808080;} 
.framework-ios {width: 60%; background-color: #707070;} 
.framework-phonegap {width: 35%; background-color: #808080;} 
.databases {width: 40%; background-color: #808080;} 
.framework-tensor{width: 30%; background-color: #A0A0A0;}
.htmlcss {width: 50%; background-color: #808080;}

.quotation{
  color: black;
  font-family: "Courier New", Courier, monospace;
  padding-left: 2.5em;
  padding-right: 2.5em;
  padding-bottom: 2.5em;
  font-size: 1.5em;
  text-align: center;
}

