
<div class="sidebar">
  <div class="sidebar-logo" style="align:center">
        <img src="https://www.gravatar.com/avatar/{{ site.author.gravatar_md5 }}?s=350" />
  </div>
  <div id="contact-list1" style="text-align:center">
    <!-- contact icons go here --> 
    {% if site.author.github %}
      <a href="https://github.com/{{ site.author.github }}" target="_blank">
          <span class="fa-stack fa-medium">
              <i class="fab fa-github fa-stack-2x"></i>
          </span>
      </a>
    {% endif %}
    {% if site.author.linkedin %}
      <a href="https://www.linkedin.com/in/{{ site.author.linkedin }}" target="_blank">
          <span class="fa-stack fa-medium">
              <i class="fab fa-linkedin fa-stack-2x"></i>
          </span>
      </a>
    {% endif %}
    {% if site.author.medium %}
      <a href="https://www.medium.com/@{{ site.author.medium }}" target="_blank">
          <span class="fa-stack fa-medium">
              <i class="fab fa-medium fa-stack-2x"></i>
          </span>
      </a>
    {% endif %}
    {% if site.author.instagram %}
      <a href="https://www.instagram.com/{{ site.author.instagram }}" target="_blank">
          <span class="fa-stack fa-medium">
              <i class="fab fa-instagram fa-stack-2x"></i>
          </span>
      </a>
    {% endif %}
    {% if site.author.twitter %}
      <a href="https://www.twitter.com/{{ site.author.twitter }}" target="_blank">
          <span class="fa-stack fa-medium">
              <i class="fab fa-twitter fa-stack-2x"></i>
          </span>
      </a>
    {% endif %}
    {% if site.author.smule %}
      <a href="https://www.smule.com/{{ site.author.smule }}" target="_blank">
         <span class="fa-stack fa-medium">
            <i class="fas fa-music fa-stack-2x"></i>
         </span>
      </a>
    {% endif %}
    {% if site.author.facebook %}
      <a href="https://www.facebook.com/{{ site.author.facebook }}" target="_blank">
         <span class="fa-stack fa-medium">
            <i class="fab fa-facebook-square fa-stack-2x"></i>
         </span>
      </a>
    {% endif %}	
  </div>
  <div class="container">
    <div class="sidebar-about">
      <h1>
        <a class="name" href="{{ '/' | relative_url }}">
          {{ site.title }}
        </a>
      </h1>  
      <p class="me"><div id="app"></div></p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == '/' | relative_url %} active{% endif %}" href="{{ '/' | relative_url }}">Home</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}
      <a class="sidebar-nav-item" style="text-decoration:none;" href="{{ '/' | relative_url }}#skill-section">&nbsp&nbsp&nbsp&nbsp- Skills</a>
      <a class="sidebar-nav-item" style="text-decoration:none;" href="{{ '/' | relative_url }}#timeline-section">&nbsp&nbsp&nbsp&nbsp- Experience</a>
      <a class="sidebar-nav-item" style="text-decoration:none;" href="{{ '/' | relative_url }}#projects-section">&nbsp&nbsp&nbsp&nbsp- Projects</a>
      <a class="sidebar-nav-item{% if page.url == '/technology/' | relative_url %} active{% endif %}" href="/technology/">Tech Blogs</a>
      <a class="sidebar-nav-item{% if page.url == '/poems/' | relative_url %} active{% endif %}" href="/poems/">Poems</a>	
      <a target="_blank" class="sidebar-nav-item{% if page.url == '/assets/cv.pdf' | relative_url %} active{% endif %}" href="{{ site.github.repo }}/public/assets/Resume-DivyaGodayal.pdf">Resume</a>
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>

<script type="text/javascript">
var app = document.getElementById('app');

var typewriter = new Typewriter(app, {
    loop: true
});

typewriter.typeString('I am a Coder')
    .pauseFor(2500)
    .deleteChars(5)
    .typeString('Drummer')
    .pauseFor(2500)
    .deleteChars(7)
    .typeString('Poet')
    .pauseFor(2500)
    .deleteChars(4)
    .typeString('Singer')
    .pauseFor(2500)
    .start();
</script>
